<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><div>
	<table class="tblData" cellspacing="0" cellpadding="3" align="Center" rules="all" border="1" id="gvPrices" style="border-collapse:collapse;">
		<caption>
			Poultry (chicken) - Monthly Price
		</caption><tr style="background-color:#E5ECF9;">
			<th scope="col">Month</th><th scope="col">Price</th><th scope="col">Change</th>
		</tr><tr align="right">
			<td>Jan 1989</td><td>1.07</td><td>-</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 1989</td><td>1.07</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Mar 1989</td><td>1.09</td><td>1.87 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 1989</td><td>1.11</td><td>1.83 %</td>
		</tr><tr align="right">
			<td>May 1989</td><td>1.15</td><td>3.60 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 1989</td><td>1.16</td><td>0.87 %</td>
		</tr><tr align="right">
			<td>Jul 1989</td><td>1.14</td><td>-1.72 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 1989</td><td>1.13</td><td>-0.88 %</td>
		</tr><tr align="right">
			<td>Sep 1989</td><td>1.12</td><td>-0.88 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 1989</td><td>1.08</td><td>-3.57 %</td>
		</tr><tr align="right">
			<td>Nov 1989</td><td>1.05</td><td>-2.78 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 1989</td><td>1.05</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Jan 1990</td><td>1.05</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 1990</td><td>1.07</td><td>1.90 %</td>
		</tr><tr align="right">
			<td>Mar 1990</td><td>1.11</td><td>3.74 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 1990</td><td>1.08</td><td>-2.70 %</td>
		</tr><tr align="right">
			<td>May 1990</td><td>1.08</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 1990</td><td>1.11</td><td>2.78 %</td>
		</tr><tr align="right">
			<td>Jul 1990</td><td>1.10</td><td>-0.90 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 1990</td><td>1.10</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Sep 1990</td><td>1.09</td><td>-0.91 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 1990</td><td>1.07</td><td>-1.83 %</td>
		</tr><tr align="right">
			<td>Nov 1990</td><td>1.07</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 1990</td><td>1.05</td><td>-1.87 %</td>
		</tr><tr align="right">
			<td>Jan 1991</td><td>1.05</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 1991</td><td>1.08</td><td>2.86 %</td>
		</tr><tr align="right">
			<td>Mar 1991</td><td>1.07</td><td>-0.93 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 1991</td><td>1.06</td><td>-0.93 %</td>
		</tr><tr align="right">
			<td>May 1991</td><td>1.06</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 1991</td><td>1.05</td><td>-0.94 %</td>
		</tr><tr align="right">
			<td>Jul 1991</td><td>1.07</td><td>1.90 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 1991</td><td>1.05</td><td>-1.87 %</td>
		</tr><tr align="right">
			<td>Sep 1991</td><td>1.05</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 1991</td><td>1.06</td><td>0.95 %</td>
		</tr><tr align="right">
			<td>Nov 1991</td><td>1.04</td><td>-1.89 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 1991</td><td>1.04</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Jan 1992</td><td>1.05</td><td>0.96 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 1992</td><td>1.03</td><td>-1.90 %</td>
		</tr><tr align="right">
			<td>Mar 1992</td><td>1.04</td><td>0.97 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 1992</td><td>1.04</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>May 1992</td><td>1.04</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 1992</td><td>1.05</td><td>0.96 %</td>
		</tr><tr align="right">
			<td>Jul 1992</td><td>1.06</td><td>0.95 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 1992</td><td>1.08</td><td>1.89 %</td>
		</tr><tr align="right">
			<td>Sep 1992</td><td>1.08</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 1992</td><td>1.06</td><td>-1.85 %</td>
		</tr><tr align="right">
			<td>Nov 1992</td><td>1.09</td><td>2.83 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 1992</td><td>1.09</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Jan 1993</td><td>1.11</td><td>1.83 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 1993</td><td>1.13</td><td>1.80 %</td>
		</tr><tr align="right">
			<td>Mar 1993</td><td>1.15</td><td>1.77 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 1993</td><td>1.18</td><td>2.61 %</td>
		</tr><tr align="right">
			<td>May 1993</td><td>1.24</td><td>5.08 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 1993</td><td>1.23</td><td>-0.81 %</td>
		</tr><tr align="right">
			<td>Jul 1993</td><td>1.25</td><td>1.63 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 1993</td><td>1.28</td><td>2.40 %</td>
		</tr><tr align="right">
			<td>Sep 1993</td><td>1.27</td><td>-0.78 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 1993</td><td>1.23</td><td>-3.15 %</td>
		</tr><tr align="right">
			<td>Nov 1993</td><td>1.21</td><td>-1.63 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 1993</td><td>1.18</td><td>-2.48 %</td>
		</tr><tr align="right">
			<td>Jan 1994</td><td>1.16</td><td>-1.69 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 1994</td><td>1.18</td><td>1.72 %</td>
		</tr><tr align="right">
			<td>Mar 1994</td><td>1.22</td><td>3.39 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 1994</td><td>1.23</td><td>0.82 %</td>
		</tr><tr align="right">
			<td>May 1994</td><td>1.30</td><td>5.69 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 1994</td><td>1.31</td><td>0.77 %</td>
		</tr><tr align="right">
			<td>Jul 1994</td><td>1.28</td><td>-2.29 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 1994</td><td>1.23</td><td>-3.91 %</td>
		</tr><tr align="right">
			<td>Sep 1994</td><td>1.24</td><td>0.81 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 1994</td><td>1.20</td><td>-3.23 %</td>
		</tr><tr align="right">
			<td>Nov 1994</td><td>1.14</td><td>-5.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 1994</td><td>1.13</td><td>-0.88 %</td>
		</tr><tr align="right">
			<td>Jan 1995</td><td>1.13</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 1995</td><td>1.13</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Mar 1995</td><td>1.14</td><td>0.88 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 1995</td><td>1.13</td><td>-0.88 %</td>
		</tr><tr align="right">
			<td>May 1995</td><td>1.15</td><td>1.77 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 1995</td><td>1.19</td><td>3.48 %</td>
		</tr><tr align="right">
			<td>Jul 1995</td><td>1.24</td><td>4.20 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 1995</td><td>1.31</td><td>5.65 %</td>
		</tr><tr align="right">
			<td>Sep 1995</td><td>1.34</td><td>2.29 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 1995</td><td>1.29</td><td>-3.73 %</td>
		</tr><tr align="right">
			<td>Nov 1995</td><td>1.32</td><td>2.33 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 1995</td><td>1.29</td><td>-2.27 %</td>
		</tr><tr align="right">
			<td>Jan 1996</td><td>1.29</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 1996</td><td>1.25</td><td>-3.10 %</td>
		</tr><tr align="right">
			<td>Mar 1996</td><td>1.22</td><td>-2.40 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 1996</td><td>1.24</td><td>1.64 %</td>
		</tr><tr align="right">
			<td>May 1996</td><td>1.33</td><td>7.26 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 1996</td><td>1.43</td><td>7.52 %</td>
		</tr><tr align="right">
			<td>Jul 1996</td><td>1.46</td><td>2.10 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 1996</td><td>1.47</td><td>0.68 %</td>
		</tr><tr align="right">
			<td>Sep 1996</td><td>1.47</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 1996</td><td>1.45</td><td>-1.36 %</td>
		</tr><tr align="right">
			<td>Nov 1996</td><td>1.45</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 1996</td><td>1.44</td><td>-0.69 %</td>
		</tr><tr align="right">
			<td>Jan 1997</td><td>1.42</td><td>-1.39 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 1997</td><td>1.38</td><td>-2.82 %</td>
		</tr><tr align="right">
			<td>Mar 1997</td><td>1.36</td><td>-1.45 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 1997</td><td>1.35</td><td>-0.74 %</td>
		</tr><tr align="right">
			<td>May 1997</td><td>1.34</td><td>-0.74 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 1997</td><td>1.34</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Jul 1997</td><td>1.35</td><td>0.75 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 1997</td><td>1.38</td><td>2.22 %</td>
		</tr><tr align="right">
			<td>Sep 1997</td><td>1.39</td><td>0.72 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 1997</td><td>1.31</td><td>-5.76 %</td>
		</tr><tr align="right">
			<td>Nov 1997</td><td>1.27</td><td>-3.05 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 1997</td><td>1.23</td><td>-3.15 %</td>
		</tr><tr align="right">
			<td>Jan 1998</td><td>1.22</td><td>-0.81 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 1998</td><td>1.23</td><td>0.82 %</td>
		</tr><tr align="right">
			<td>Mar 1998</td><td>1.25</td><td>1.63 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 1998</td><td>1.27</td><td>1.60 %</td>
		</tr><tr align="right">
			<td>May 1998</td><td>1.30</td><td>2.36 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 1998</td><td>1.38</td><td>6.15 %</td>
		</tr><tr align="right">
			<td>Jul 1998</td><td>1.48</td><td>7.25 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 1998</td><td>1.56</td><td>5.41 %</td>
		</tr><tr align="right">
			<td>Sep 1998</td><td>1.57</td><td>0.64 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 1998</td><td>1.52</td><td>-3.18 %</td>
		</tr><tr align="right">
			<td>Nov 1998</td><td>1.48</td><td>-2.63 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 1998</td><td>1.43</td><td>-3.38 %</td>
		</tr><tr align="right">
			<td>Jan 1999</td><td>1.39</td><td>-2.80 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 1999</td><td>1.35</td><td>-2.88 %</td>
		</tr><tr align="right">
			<td>Mar 1999</td><td>1.30</td><td>-3.70 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 1999</td><td>1.27</td><td>-2.31 %</td>
		</tr><tr align="right">
			<td>May 1999</td><td>1.31</td><td>3.15 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 1999</td><td>1.34</td><td>2.29 %</td>
		</tr><tr align="right">
			<td>Jul 1999</td><td>1.35</td><td>0.75 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 1999</td><td>1.33</td><td>-1.48 %</td>
		</tr><tr align="right">
			<td>Sep 1999</td><td>1.34</td><td>0.75 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 1999</td><td>1.29</td><td>-3.73 %</td>
		</tr><tr align="right">
			<td>Nov 1999</td><td>1.29</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 1999</td><td>1.29</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Jan 2000</td><td>1.28</td><td>-0.78 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2000</td><td>1.27</td><td>-0.78 %</td>
		</tr><tr align="right">
			<td>Mar 2000</td><td>1.26</td><td>-0.79 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2000</td><td>1.26</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>May 2000</td><td>1.27</td><td>0.79 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2000</td><td>1.30</td><td>2.36 %</td>
		</tr><tr align="right">
			<td>Jul 2000</td><td>1.32</td><td>1.54 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2000</td><td>1.33</td><td>0.76 %</td>
		</tr><tr align="right">
			<td>Sep 2000</td><td>1.36</td><td>2.26 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2000</td><td>1.36</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Nov 2000</td><td>1.36</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2000</td><td>1.36</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Jan 2001</td><td>1.36</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2001</td><td>1.36</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Mar 2001</td><td>1.37</td><td>0.74 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2001</td><td>1.37</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>May 2001</td><td>1.39</td><td>1.46 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2001</td><td>1.40</td><td>0.72 %</td>
		</tr><tr align="right">
			<td>Jul 2001</td><td>1.42</td><td>1.43 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2001</td><td>1.45</td><td>2.11 %</td>
		</tr><tr align="right">
			<td>Sep 2001</td><td>1.47</td><td>1.38 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2001</td><td>1.45</td><td>-1.36 %</td>
		</tr><tr align="right">
			<td>Nov 2001</td><td>1.42</td><td>-2.07 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2001</td><td>1.39</td><td>-2.11 %</td>
		</tr><tr align="right">
			<td>Jan 2002</td><td>1.39</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2002</td><td>1.39</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Mar 2002</td><td>1.38</td><td>-0.72 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2002</td><td>1.38</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>May 2002</td><td>1.40</td><td>1.45 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2002</td><td>1.41</td><td>0.71 %</td>
		</tr><tr align="right">
			<td>Jul 2002</td><td>1.42</td><td>0.71 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2002</td><td>1.41</td><td>-0.70 %</td>
		</tr><tr align="right">
			<td>Sep 2002</td><td>1.41</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2002</td><td>1.39</td><td>-1.42 %</td>
		</tr><tr align="right">
			<td>Nov 2002</td><td>1.36</td><td>-2.16 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2002</td><td>1.36</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Jan 2003</td><td>1.37</td><td>0.74 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2003</td><td>1.39</td><td>1.46 %</td>
		</tr><tr align="right">
			<td>Mar 2003</td><td>1.41</td><td>1.44 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2003</td><td>1.40</td><td>-0.71 %</td>
		</tr><tr align="right">
			<td>May 2003</td><td>1.42</td><td>1.43 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2003</td><td>1.45</td><td>2.11 %</td>
		</tr><tr align="right">
			<td>Jul 2003</td><td>1.49</td><td>2.76 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2003</td><td>1.51</td><td>1.34 %</td>
		</tr><tr align="right">
			<td>Sep 2003</td><td>1.53</td><td>1.32 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2003</td><td>1.51</td><td>-1.31 %</td>
		</tr><tr align="right">
			<td>Nov 2003</td><td>1.51</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2003</td><td>1.52</td><td>0.66 %</td>
		</tr><tr align="right">
			<td>Jan 2004</td><td>1.53</td><td>0.66 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2004</td><td>1.58</td><td>3.27 %</td>
		</tr><tr align="right">
			<td>Mar 2004</td><td>1.61</td><td>1.90 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2004</td><td>1.65</td><td>2.48 %</td>
		</tr><tr align="right">
			<td>May 2004</td><td>1.69</td><td>2.42 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2004</td><td>1.76</td><td>4.14 %</td>
		</tr><tr align="right">
			<td>Jul 2004</td><td>1.78</td><td>1.14 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2004</td><td>1.77</td><td>-0.56 %</td>
		</tr><tr align="right">
			<td>Sep 2004</td><td>1.72</td><td>-2.82 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2004</td><td>1.68</td><td>-2.33 %</td>
		</tr><tr align="right">
			<td>Nov 2004</td><td>1.65</td><td>-1.79 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2004</td><td>1.62</td><td>-1.82 %</td>
		</tr><tr align="right">
			<td>Jan 2005</td><td>1.62</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2005</td><td>1.63</td><td>0.62 %</td>
		</tr><tr align="right">
			<td>Mar 2005</td><td>1.63</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2005</td><td>1.63</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>May 2005</td><td>1.64</td><td>0.61 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2005</td><td>1.64</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Jul 2005</td><td>1.65</td><td>0.61 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2005</td><td>1.65</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Sep 2005</td><td>1.66</td><td>0.61 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2005</td><td>1.64</td><td>-1.20 %</td>
		</tr><tr align="right">
			<td>Nov 2005</td><td>1.60</td><td>-2.44 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2005</td><td>1.57</td><td>-1.87 %</td>
		</tr><tr align="right">
			<td>Jan 2006</td><td>1.54</td><td>-1.91 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2006</td><td>1.53</td><td>-0.65 %</td>
		</tr><tr align="right">
			<td>Mar 2006</td><td>1.51</td><td>-1.31 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2006</td><td>1.49</td><td>-1.32 %</td>
		</tr><tr align="right">
			<td>May 2006</td><td>1.50</td><td>0.67 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2006</td><td>1.52</td><td>1.33 %</td>
		</tr><tr align="right">
			<td>Jul 2006</td><td>1.54</td><td>1.32 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2006</td><td>1.55</td><td>0.65 %</td>
		</tr><tr align="right">
			<td>Sep 2006</td><td>1.56</td><td>0.65 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2006</td><td>1.54</td><td>-1.28 %</td>
		</tr><tr align="right">
			<td>Nov 2006</td><td>1.52</td><td>-1.30 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2006</td><td>1.53</td><td>0.66 %</td>
		</tr><tr align="right">
			<td>Jan 2007</td><td>1.57</td><td>2.61 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2007</td><td>1.63</td><td>3.82 %</td>
		</tr><tr align="right">
			<td>Mar 2007</td><td>1.68</td><td>3.07 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2007</td><td>1.72</td><td>2.38 %</td>
		</tr><tr align="right">
			<td>May 2007</td><td>1.75</td><td>1.74 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2007</td><td>1.78</td><td>1.71 %</td>
		</tr><tr align="right">
			<td>Jul 2007</td><td>1.79</td><td>0.56 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2007</td><td>1.79</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Sep 2007</td><td>1.80</td><td>0.56 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2007</td><td>1.76</td><td>-2.22 %</td>
		</tr><tr align="right">
			<td>Nov 2007</td><td>1.71</td><td>-2.84 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2007</td><td>1.69</td><td>-1.17 %</td>
		</tr><tr align="right">
			<td>Jan 2008</td><td>1.70</td><td>0.59 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2008</td><td>1.74</td><td>2.35 %</td>
		</tr><tr align="right">
			<td>Mar 2008</td><td>1.79</td><td>2.87 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2008</td><td>1.81</td><td>1.12 %</td>
		</tr><tr align="right">
			<td>May 2008</td><td>1.84</td><td>1.66 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2008</td><td>1.89</td><td>2.72 %</td>
		</tr><tr align="right">
			<td>Jul 2008</td><td>1.95</td><td>3.17 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2008</td><td>1.95</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Sep 2008</td><td>1.95</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2008</td><td>1.93</td><td>-1.03 %</td>
		</tr><tr align="right">
			<td>Nov 2008</td><td>1.92</td><td>-0.52 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2008</td><td>1.92</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Jan 2009</td><td>1.92</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2009</td><td>1.91</td><td>-0.52 %</td>
		</tr><tr align="right">
			<td>Mar 2009</td><td>1.89</td><td>-1.05 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2009</td><td>1.88</td><td>-0.53 %</td>
		</tr><tr align="right">
			<td>May 2009</td><td>1.92</td><td>2.13 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2009</td><td>1.94</td><td>1.04 %</td>
		</tr><tr align="right">
			<td>Jul 2009</td><td>1.95</td><td>0.52 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2009</td><td>1.91</td><td>-2.05 %</td>
		</tr><tr align="right">
			<td>Sep 2009</td><td>1.87</td><td>-2.09 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2009</td><td>1.83</td><td>-2.14 %</td>
		</tr><tr align="right">
			<td>Nov 2009</td><td>1.81</td><td>-1.09 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2009</td><td>1.81</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Jan 2010</td><td>1.83</td><td>1.10 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2010</td><td>1.84</td><td>0.55 %</td>
		</tr><tr align="right">
			<td>Mar 2010</td><td>1.85</td><td>0.54 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2010</td><td>1.88</td><td>1.62 %</td>
		</tr><tr align="right">
			<td>May 2010</td><td>1.91</td><td>1.60 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2010</td><td>1.92</td><td>0.52 %</td>
		</tr><tr align="right">
			<td>Jul 2010</td><td>1.94</td><td>1.04 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2010</td><td>1.94</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Sep 2010</td><td>1.93</td><td>-0.52 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2010</td><td>1.91</td><td>-1.04 %</td>
		</tr><tr align="right">
			<td>Nov 2010</td><td>1.88</td><td>-1.57 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2010</td><td>1.88</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Jan 2011</td><td>1.87</td><td>-0.53 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2011</td><td>1.88</td><td>0.53 %</td>
		</tr><tr align="right">
			<td>Mar 2011</td><td>1.90</td><td>1.06 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2011</td><td>1.90</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>May 2011</td><td>1.91</td><td>0.53 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2011</td><td>1.92</td><td>0.52 %</td>
		</tr><tr align="right">
			<td>Jul 2011</td><td>1.93</td><td>0.52 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2011</td><td>1.94</td><td>0.52 %</td>
		</tr><tr align="right">
			<td>Sep 2011</td><td>1.96</td><td>1.03 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2011</td><td>1.96</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Nov 2011</td><td>1.97</td><td>0.51 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2011</td><td>1.98</td><td>0.51 %</td>
		</tr><tr align="right">
			<td>Jan 2012</td><td>1.99</td><td>0.51 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2012</td><td>2.01</td><td>1.01 %</td>
		</tr><tr align="right">
			<td>Mar 2012</td><td>2.05</td><td>1.99 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2012</td><td>2.06</td><td>0.49 %</td>
		</tr><tr align="right">
			<td>May 2012</td><td>2.07</td><td>0.49 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2012</td><td>2.08</td><td>0.48 %</td>
		</tr><tr align="right">
			<td>Jul 2012</td><td>2.09</td><td>0.48 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2012</td><td>2.09</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Sep 2012</td><td>2.11</td><td>0.96 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2012</td><td>2.11</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Nov 2012</td><td>2.13</td><td>0.95 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2012</td><td>2.15</td><td>0.94 %</td>
		</tr><tr align="right">
			<td>Jan 2013</td><td>2.22</td><td>3.26 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2013</td><td>2.19</td><td>-1.35 %</td>
		</tr><tr align="right">
			<td>Mar 2013</td><td>2.31</td><td>5.48 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2013</td><td>2.29</td><td>-0.87 %</td>
		</tr><tr align="right">
			<td>May 2013</td><td>2.38</td><td>3.93 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2013</td><td>2.40</td><td>0.84 %</td>
		</tr><tr align="right">
			<td>Jul 2013</td><td>2.22</td><td>-7.50 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2013</td><td>2.04</td><td>-8.11 %</td>
		</tr><tr align="right">
			<td>Sep 2013</td><td>1.98</td><td>-2.94 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2013</td><td>1.96</td><td>-1.01 %</td>
		</tr><tr align="right">
			<td>Nov 2013</td><td>2.03</td><td>3.57 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2013</td><td>2.07</td><td>1.97 %</td>
		</tr><tr align="right">
			<td>Jan 2014</td><td>2.11</td><td>1.93 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2014</td><td>2.02</td><td>-4.27 %</td>
		</tr><tr align="right">
			<td>Mar 2014</td><td>2.26</td><td>11.88 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2014</td><td>2.38</td><td>5.31 %</td>
		</tr><tr align="right">
			<td>May 2014</td><td>2.56</td><td>7.56 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2014</td><td>2.55</td><td>-0.39 %</td>
		</tr><tr align="right">
			<td>Jul 2014</td><td>2.45</td><td>-3.92 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2014</td><td>2.27</td><td>-7.35 %</td>
		</tr><tr align="right">
			<td>Sep 2014</td><td>2.36</td><td>3.96 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2014</td><td>2.36</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Nov 2014</td><td>2.31</td><td>-2.12 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2014</td><td>2.22</td><td>-3.90 %</td>
		</tr><tr align="right">
			<td>Jan 2015</td><td>2.22</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2015</td><td>2.03</td><td>-8.56 %</td>
		</tr><tr align="right">
			<td>Mar 2015</td><td>2.15</td><td>5.91 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2015</td><td>2.31</td><td>7.23 %</td>
		</tr><tr align="right">
			<td>May 2015</td><td>2.35</td><td>1.93 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2015</td><td>2.28</td><td>-2.98 %</td>
		</tr><tr align="right">
			<td>Jul 2015</td><td>2.07</td><td>-9.21 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2015</td><td>1.82</td><td>-12.08 %</td>
		</tr><tr align="right">
			<td>Sep 2015</td><td>1.69</td><td>-7.14 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2015</td><td>1.61</td><td>-4.73 %</td>
		</tr><tr align="right">
			<td>Nov 2015</td><td>1.62</td><td>0.62 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2015</td><td>1.74</td><td>7.41 %</td>
		</tr><tr align="right">
			<td>Jan 2016</td><td>1.85</td><td>6.32 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2016</td><td>1.77</td><td>-4.32 %</td>
		</tr><tr align="right">
			<td>Mar 2016</td><td>1.85</td><td>4.52 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2016</td><td>1.93</td><td>4.32 %</td>
		</tr><tr align="right">
			<td>May 2016</td><td>2.06</td><td>6.74 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2016</td><td>2.15</td><td>4.37 %</td>
		</tr><tr align="right">
			<td>Jul 2016</td><td>1.96</td><td>-8.84 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2016</td><td>1.74</td><td>-11.22 %</td>
		</tr><tr align="right">
			<td>Sep 2016</td><td>1.70</td><td>-2.30 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2016</td><td>1.59</td><td>-6.47 %</td>
		</tr><tr align="right">
			<td>Nov 2016</td><td>1.76</td><td>10.69 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2016</td><td>1.86</td><td>5.68 %</td>
		</tr><tr align="right">
			<td>Jan 2017</td><td>1.94</td><td>4.30 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2017</td><td>1.94</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Mar 2017</td><td>2.13</td><td>9.79 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2017</td><td>2.16</td><td>1.41 %</td>
		</tr><tr align="right">
			<td>May 2017</td><td>2.33</td><td>7.87 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2017</td><td>2.43</td><td>4.29 %</td>
		</tr><tr align="right">
			<td>Jul 2017</td><td>2.35</td><td>-3.29 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2017</td><td>2.19</td><td>-6.81 %</td>
		</tr><tr align="right">
			<td>Sep 2017</td><td>2.11</td><td>-3.65 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2017</td><td>1.98</td><td>-6.16 %</td>
		</tr><tr align="right">
			<td>Nov 2017</td><td>1.96</td><td>-1.01 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2017</td><td>1.97</td><td>0.51 %</td>
		</tr><tr align="right">
			<td>Jan 2018</td><td>2.07</td><td>5.08 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Feb 2018</td><td>1.98</td><td>-4.35 %</td>
		</tr><tr align="right">
			<td>Mar 2018</td><td>2.20</td><td>11.11 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Apr 2018</td><td>2.36</td><td>7.27 %</td>
		</tr><tr align="right">
			<td>May 2018</td><td>2.65</td><td>12.29 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Jun 2018</td><td>2.72</td><td>2.64 %</td>
		</tr><tr align="right">
			<td>Jul 2018</td><td>2.53</td><td>-6.99 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Aug 2018</td><td>2.22</td><td>-12.25 %</td>
		</tr><tr align="right">
			<td>Sep 2018</td><td>2.03</td><td>-8.56 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Oct 2018</td><td>2.03</td><td>0.00 %</td>
		</tr><tr align="right">
			<td>Nov 2018</td><td>2.03</td><td>0.00 %</td>
		</tr><tr align="right" style="background-color:#EFEFEF;">
			<td>Dec 2018</td><td>2.09</td><td>2.96 %</td>
		</tr>
	</table>
</div>